body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7486df;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.game-leaderboard-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
}

.game-container {
    flex: 1;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(186, 164, 164);
    border: 1px solid #cc1313;
    font-size: 2em;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.sss{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 17%;

}
 

 .user-form {
    position: relative;
    left: -100%;
    border: solid;
    padding: 10px;
    border-radius: 10%;
}

#leaderboard {
    flex: 0 0 20%; /* Adjust the width as needed */
    margin-left: 30%;
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

#reset {
    margin-top: 2%;
}


.user-form{margin-top: -90%;}


